.App {
    background: white;
    height: 550px;
    width: 400px;
    border: 1px solid lightgray;
    box-shadow: 0px 1px 3px rgb(204, 202, 202);
    margin: auto;
    margin-top: 50px;
    display: grid;
    grid-template-rows: 10% 80% 10%;
}