.messageContainer {
    height: 50px;
    display: flex;
    align-items: center;
}
.userMessage {
    justify-content: flex-end;
}
.messageBody {
    margin: 5px;
    padding: 10px;
    background: rgb(238, 243, 242);
    border: 1px solid lightgray;
    border-radius: 5px;
}
.messageBodyText {
    margin: 0;
}