.headerContainer {
    display: grid;
    height: 50px;
    align-items: center;
    grid-template-columns: 30% 70%;
}
.assistantIcon {
    margin-left: 10px;
    width: 30px !important;
    height: 35px !important;
    color: rgb(159, 159, 221);
}
.headerTextContainer {
    display: flex;
    align-items: center;
}
.headerText {
    margin: 0px;
    color: rgb(159, 159, 221);
    font-family: Verdana;
    font-size: 20px;
}